<div class="row">
  <div id="rankings" class="col-md-2">
    <p style="font-size:24px">Rankings</p>
    <ol></ol>
  </div>

  <div id="hotOrNot" class="col-md-10">
  	<div class="row">
      <img id="choice1" class="choice col-md-6 img-responsive" />
      <img id="choice2" class="choice col-md-6 img-responsive" />
    </div>
  </div>
</div>
