<div class="row">
  <div id="rankings" class="col-md-2">
    <p style="font-size:24px">Global Preferences</p>
    <ol id="globalPreferences"></ol>
  </div>

  <div id="hotOrNot" class="col-md-10">
  	<div class="row">
      <img id="choice1" class="choice col-md-6 img-responsive" />
      <img id="choice2" class="choice col-md-6 img-responsive" />
    </div>
    <p id="notification"></p>
  </div>
</div>

<script src="/javascripts/script.js"></script>
