<div class="jumbotron" style="text-align:center">
  <h1>Tindergram Vacation Planner</h1>
  <h2>The Vacation Planner for the Easily Distracted</h2>
  <p>Ever wanted to choose your dream vacation destination without the hassle of research? Tindergram Vacation Planner is here to your rescue! Just choose the more appealing of the two pictures, and tens of mind-numbing rounds later, you have your preferences. Other people contribute their preferences and they all add up to make a global ranking of the most appealing vacation spots.</p>
  <a href="/login"><button type="button" class="btn btn-primary">Login with Facebook</button></a>
</div>